* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

.op1 {
        width: 38%;
        display: inline-block;
        background-color: rgb(202, 196, 196);
        font-size: 3vw;
        text-align: center;
        padding: 5vw 0vw 5vw 0vw;
        min-width:40vw;
    }

.city {
      background-color: tomato;
      color: white;
      border: 2px solid black;
      margin: 20px;
      padding: 20px;
    }

    #tedt{
        display: flex;
        width: 70%;
        margin: 0 auto; 
        }

    #page-wrap  {    
    margin: 0 auto; 
    width: 200px;
    height: 400px;
    background: #000000;
    }
    #sidebar    {
    margin: 0 auto; 
    width: 200px;
    height: 400px;
    background: #ff0000;    
    }
    #other{
    margin: 0 auto; 
    width: 200px;
    height: 400px;
    background: #ff00ff;
    }

    #outer
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
}